@model TimeTracker.Web.ViewModels.HomeViewModel

<h2>Hi @if(Model != null && Model.User != null){ @Model.User.Name }!</h2>

@if(Model != null){
    foreach(var project in Model.AssignedProjects){
        <p>@project.Name</p>
    }
    
    <h3 style="margin-bottom: 5px;">Join a project</h3>
    
    using (Html.BeginForm("AddAssignment", "Home")) {
        <table class="addAssignmentTable">
            <tr>
                <th>Project</th>
                <th>Role</th>
                <th>Hourly rate</th>
                <th></th>
            </tr>
            <tr>
                <td>@Html.DropDownListFor(model => model.SelectedProjectId, new SelectList(Model.Projects, "Id", "Name"))</td>
                <td><input type="submit" value="Join Project" style="padding:4 10px;" /></td>
            </tr>
        </table>
    }
}

<script language="javascript" type="text/javascript">
    
    function outUl() {
        var textBox = document.getElementById('HourlyRate');
        textBox.value = 777;
    }

    element = document.getElementById('SelectedRoleId');
    element.addEventListener('change', outUl, false);
</script>