@model IEnumerable<TimeTracker.Core.Client>

@{
    ViewBag.Title = "TimeTracker";
}

<h2>Clients</h2>

<p>
    @Html.ActionLink("Add client", "Add")
</p>

<p>
@foreach (var item in Model) {
    <div id="dataList">
        @item.Name (<span id="actionLink">@Html.ActionLink("edit", "Edit", new { id = item.Id })</span>)
    </div>
}
</p>
